
.tower {
  	background: gray;
    min-height: 300px;

}
.tower div{
  width: 80%;
	display: block;
	padding: 20px 0px;
	color: white;
	margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
	background: rgba(0,200,140,1);
  text-align: center;
  font-size: 40px;



}


.a0 {
  width: 40%;



}

.a1 {
  width: 60%;

}

.a2 {
  width: 50%;


}